.pagination-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: #f4511e;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}

.pagination a:hover {
    color: #c14b1c;
    font-size:24px;
}
