.auth-form{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin-top: 20%;
}

.auth-form input{
    background:transparent;
    border:1px solid #dd2c00;
    padding: 25px 120px 25px 10px;
    margin:5px;
    color:#dd2c00;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
}

.auth-form input:focus {
    outline: none;
}

.auth-form input::placeholder{
    color:#dd2c00;
}

.auth-form input.submit-btn {
    padding: 15px 90px
}

.auth-form input.submit-btn:hover{
    background:#f4511e;
    color: white;
}
